
<section class="view-session-box">

  <div class="mail-icon">
    <div class="">
      <i class="fa fa-sign-in"></i>
    </div>
    <p class="page-title">Beat Play へようこそ</p><br>
    <p class="page-title">Log in</p>
  </div>

  <div class="main-box">
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="field">
        <%= f.email_field :email, autofocus: true, autocomplete: "email" , :placeholder => "メールアドレス"%>
      </div>

      <div class="field">
        <%= f.password_field :password, autocomplete: "off", :placeholder => "パスワード"%>
      </div>

      <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      <% end -%>

      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>

</section>