
<!-- headerの部分テンプレート -->
  <%= render 'layouts/user_header'  %>
<!-- main-visual -->

<div class="users-edit-page user-inverse">
    <div class="users-edit-show-boxes">
    	<div class="mail-icon">
		    <div class="">
		    	<i class="fa fa-sign-in"></i>
		    </div>
			<p class="users-edit-title">住所の変更</p>
	  	</div>
    	<%= form_for(@user) do |f| %>
			<div class="users-edit-show-informations">
				<label>郵便番号</label>
				<p><%= f.text_field :postal_code, class: "uses_edit-show-info col-xs-3", :placeholder => "郵便番号" %></p>
	    	</div>
	    	<div class="users-edit-show-informations-pref">
	    		<label>都道府県</label>
	    		<p class="users_edit-show-prefecture"><%= f.collection_select :pref, JpPrefecture::Prefecture.all, :name, :name%></p>
	    	</div>
	    	<div class="users-edit-show-informations">
	    		<label>市町村</label>
	    		<p><%= f.text_field :city, class: "uses_edit-show-info col-xs-8", :placeholder => "市町村" %></p>
	    	</div>
	    	<div class="users-edit-show-informations">
	    		<label>番地</label>
	    		<p><%= f.text_field :address1, class: "uses_edit-show-info col-xs-5", :placeholder => "番地" %></p>
	    	</div>
	    	<div class="users-edit-show-informations">
	    		<label>建物名/部屋番号</label>
			    <p><%= f.text_field :address2, class: "uses_edit-show-info col-xs-8", :placeholder => "建物名/部屋番号" %></p>
	    	</div>
	    	<div class="actions-users-edit-show-box">
			<%= f.submit "変更内容を保存", class: "actions-users-edit-show" %>
			<%= link_to "戻る", edit_user_path(@user.id),class: "actions-users-edit-show-back" %>
			</div>
		<% end %>
    </div>
</div>