<h1>住所の変更</h1>
	<%= form_for(@user) do |f| %>

		<div class="field row">
		    <label>郵便番号</label>
		    <%= f.text_field :postal_code, class: "user_postal_code col-xs-3" %>
		</div>

		<div class="field row">
		    <label>都道府県</label>
		    <%= f.text_field :prefecture, class: "user_prefecture col-xs-3" %>
		</div>

		<div class="field row">
		    <label>市町村</label>
		    <%= f.text_field :city, class: "user_city col-xs-3" %>
		</div>

		<div class="field row">
		    <label>番地</label>
		    <%= f.text_field :address1, class: "user_address1 col-xs-3" %>
		</div>

		<div class="field row">
		    <label>建物名　部屋番号</label>
		    <%= f.text_field :address2, class: "user_address2 col-xs-3" %>
		</div>

		<div class="actions">
			<%= f.submit "変更内容を保存" %>
		</div>

	<% end %>

	<div class="row">
        <%= link_to edit_user_path(@user.id), class: " col-xs-3 btn btn-default glyphicon glyphicon-wrench" do %> 戻る
        <% end %>
    </div>
