
<div class="users-edit user-inverse">
	<div class="mail-icon">
	    <div class="">
	    	<i class="fa fa-sign-in"></i>
	    </div>
		<p class="users-edit-title">メールアドレスの変更</p>
  	</div>
    <div class="users-edit-show-boxes">
    	<%= form_for(@user) do |f| %>
			<div class="users-edit-show-informations">
				<label>現在のメールアドレス</label><br>
				<div>
					<div class="users_edit-show-current-phonenumber-email-box"><%= @user.email %></div>
				</div>
	    	</div>
	    	<div class="users-edit-show-informations">
	    		<label>新しいメールアドレス</label>
	    		<p><%= f.text_field :email, class: "uses_edit-show-info col-xs-5", :placeholder => "メールアドレス" %>
	    	</div>
	    	<div class="actions-users-edit-show-box">
			<%= f.submit "変更内容を保存", class: "actions-users-edit-show" %>
			<%= link_to "戻る", edit_user_path(@user.id),class: "actions-users-edit-show-back" %>
			</div>
		<% end %>
    </div>
</div>
