
<!-- main-visual -->
<!-- 検索フォーム -->
  <%= render 'products/list', q: @q %>
<!--             -->

<section class="view-edit-box">

	<div class="mail-icon">
	    <div class="">
	    	<i class="fa fa-sign-in"></i>
	    </div>

		<p class="page-title">登録情報の編集</p><br>
    </div>

    <div class="main-box">

		<p>名前</p><%= @user.first_name %><%= @user.last_name %>

		<p>カナ</p><%= @user.kana_first %><%= @user.kana_last %><%= link_to "編集", edit_name_user_path(@user.id) %>

		<p>住所</p><%= @user.pref %><%= link_to "編集", edit_address_user_path(@user.id) %>

		<p>電話番号</p><%= @user.phone_number %><%= link_to "編集", edit_phonenumber_user_path(@user.id) %>

		<p>メールアドレス</p><%= @user.email%><%= link_to "編集", edit_email_user_path(@user.id) %>

		<p>パスワード</p><%= link_to "編集", edit_password_user_path(@user.id) %>

		<p>終了(ホームへ)</p>

	</div>


</section>
