
<!-- headerの部分テンプレート -->
  <%= render 'layouts/user_header'  %>
<!-- main-visual -->

<div class="users-edit-page user-inverse">
    <div class="users-edit-show-boxes">
    	<div class="mail-icon">
		    <div class="">
		    	<i class="fa fa-sign-in"></i>
		    </div>
			<p class="users-edit-title">電話番号の変更</p>
  		</div>
    	<%= form_for(@user) do |f| %>
			<div class="users-edit-show-informations">
				<label>現在の電話番号</label>
				<div>
					<div class="users_edit-show-current-phonenumber-email-box">
						<%= @user.phone_number %>
					</div>
				</div>
	    	</div>
	    	<div class="users-edit-show-informations">
	    		<label>新しい電話番号</label>
	    		<p><%= f.text_field :phone_number, class: "uses_edit-show-info col-xs-5", :placeholder => "電話番号" %>
	    	</div>
	    	<div class="actions-users-edit-show-box">
			<%= f.submit "変更内容を保存", class: "actions-users-edit-show" %>
			<%= link_to "戻る", edit_user_path(@user.id),class: "actions-users-edit-show-back" %>
			</div>
		<% end %>
    </div>
</div>
