<!-- headerの部分テンプレート -->
  <%= render 'layouts/user_header'  %>
<!-- main-visual -->
<!-- 検索フォーム -->
  <%= render 'products/list', q: @q, q2: @q2 %>
<!--             -->

<div class="users-mypage user-inverse">
  <div class="users-mypage-main-box">
    <div class="users-favorites-info-box">
      <div class="users-info-box">
        <p class="users-info">登録情報</p>
        <p class="current-user"><label>名前：</label><%= @user.first_name %> <%= @user.last_name %></p>
        <p class="current-user"><label>郵便番号：</label><%= @user.postal_code %></p>
        <p class="current-user"><label>住所：</label><%= @user.pref + @user.city %><%= @user.address1 %> <%= @user.address2 %></p>
        <p class="current-user"><label>電話番号：</label><%= @user.phone_number %></p>
        <p class="current-user"><label>メールアドレス：</label><%= @user.email %></p>
        <%= link_to edit_user_path(@user.id) do %>
          <button type="button" class="edit-button-style" >登録内容編集</button>
        <% end %>
      </div>
      <div class="favorites-info-box">
        <p class="favorites-info">お気に入りリスト</p>
        <div class="favorites-all-contents">
          <% if @favorites.any? %>
            <% @favorites.each do |favorite| %>
              <div class="favorites-contents">
                <%= link_to product_path(favorite.product.id) do %>
                  <div class="favorites-product-image">
                    <%= attachment_image_tag favorite.product, :image, :fill, 150, 150, fallback: 'icon-mypage.png', :size => "150x150" %>
                  </div>
                <% end %>
                <div class="favorites-product-info-box">
                  <p class="favorites-product-info"><label>アルバム/シングル名：</label><%= favorite.product.album_title %></p>
                  <p class="favorites-product-info"><label>アーティスト名：</label><%= favorite.product.artist  %></p>
                  <%= link_to product_favorites_path(favorite.product_id), method: :delete do %>
                    <button type="button" class="favorites-destroy-button-style" >お気に入りから外す</button>
                  <% end %>
                </div>
              </div>
            <% end %>
          <% else %>
            <p class="favorite-nothing-message"><%= @msg %></p>
          <% end %>
        </div>
      </div>
    </div>
    <div class="orders-info-box">
      <p class="orders-info">購入履歴</p>
      <div class="orders-all-contents">
        <% if @user.orders.any? %>
          <% @user.orders.reverse_each do |order| %>
            <div class="orders-contents">
              <table class="table">
                <thead>
                  <tr>
                    <th>購入日： <%= order.created_at.strftime('%Y年%m月%d日') %></th>
                    <th>ステータス： <%= order.status %></th>
                    <th>合計金額： ￥<%= order.total %></th>
                  </tr>
                </thead>
              </table>
              <p class="orders-address">
                <label>送付先：</label>
                <span><%= order.address.postal_code %> / <%= order.address.pref %><%= order.address.city %><%= order.address.address1 %><%= order.address.address2 %></span>
              </p>
              <table>
                <thead>
                  <% order.order_items.each_with_index do |order_item| %>
                    <tr>
                      <td class="orders-product-image">
                        <%= attachment_image_tag order_item.product, :image, :fill, 100, 100, fallback: 'icon-mypage.png', :size => "100x100" %>
                      </td>
                      <td class="orders-product-title-artist-box">
                        <p><label>アルバム/シングル名：</label> <%= order_item.product.album_title %></p>
                        <p><label>アーティスト：</label> <%= order_item.product.artist %></p>
                      </td>
                      <td class="orders-product-quantity-box">
                        <p><label>購入枚数：</label> <%= order_item.quantity %>枚</p>
                      </td>
                      <td class="orders-product-subtotal-box">
                        <p class="orders-product-subtotal"><label>小計：</label>￥<%= order_item.quantity  *  order_item.price %></p>
                      </td>
                    </tr>
                  <% end %>
                </thead>
              </table>
            </div>
          <% end %>
        <% else %>
          <p class="order-nothing-message"><%= @msg2 %></p>
        <% end %>
      </div>
    </div>
  </div>
</div>