<%= render 'admins/users/header'  %>


<div class="container">
 <div class="row">
  <div class="col-6">
    <h3>登録ユーザー一覧</h3>
    <table class="table">
      <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>ID</th>
            <th>ユーザー名</th>
            <th>Email</th>
            <th>登録日</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th><input type="checkbox"></th>
              <% @users.each do |user| %>
            <th><%= user.id %></th>
            <td><%= user.first_name %><%= user.last_name %></td>
            <td><%= user.email %></td>
            <td><%= user.created_at %></td>
            <td><%= button_to "詳細", admins_user_path(user.id), method: :get, class:"btn btn-default" %></td>
            <td>
              <%= button_to "編集", edit_admins_user_path(user.id), method: :get, class:"btn btn-default" %>
            </td>
            <td>
              <%= button_to "削除", admins_user_path(user.id), method: :delete, class:"btn btn-default", data: { confirm: 'Are you sure?' }%>
            </td>
              <% end %>
        </tr>
      </tbody>
    </table>
  </div>
 </div>

 <div class="row">
  <div class="col-3">
    <table class="table">
      <h4>登録管理者情報</h4>
      <thead>
        <tr>
            <th>名前</th>
            <th>Email</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <% @admins.each do |ad| %>
            <td><%= ad.name %></td>
            <td><%= ad.email %></td>
            <td>
              <%= button_to "編集", edit_admin_registration_path, method: :get, class:"btn btn-default" %>
            </td>
            <td>
              <%= button_to "削除", admin_registration_path, method: :delete, class:"btn btn-default", data: { confirm: 'Are you sure?' }%>
            </td>
        </tr>
        <%= button_to '追加', admin_registration_path, class:"btn btn-default" %>
      </tbody>
          <% end %>
    </table>
  </div>
 </div>
</div>


