<title>購入確認画面</title>
<section class= "confirm-main-box">
	<div class="search-box">
		<div class ="container">
			<p class="col-lg-4"></p>
			<p class="col-lg-4 search-form"><input class="form-control" type="search" name="search-form" placeholder="検索"></p>
			<p class="col-lg-4"></p>
		</div>
	</div>
		<h2>ご注文内容の確認</h2>
	<div class="orders-box">
		<table class="cartlist">
                <thead>
                  <% price_sum = 0 %>
                    <% @cart_items.each_with_index do |cart_item, i| %>
                    <tr>
                    	<td> <%= i+1 %> </td>
                        <td class="p-img"><%= attachment_image_tag cart_item.product, :image, :fill, 250, 250, fallback: 'icon-mypage.jpg', :size => "250x250", class: "p-img" %></td>
                        <td class="p-info">
                            <div>
                                <p><%= cart_item.product.album_title %></p>
                            </div>
                            <div>
                                <p><%= cart_item.product.artist %></p>
                            </div>
                        </td>
                        <td class="p-price"><p>¥ <%= cart_item.product.price %> </p></td>
                        <td class="p-qty">
                          <%= form_for cart_item, url: cart_cart_items_path(cart_item), method: :patch  do |f| %>
                            <p><%= cart_item.quantity %>枚</p>
                          <% end %>
                        </td>
                        <td class="p-subtotal">
                          <p>¥ <%= cart_item.product.price * cart_item.quantity %></p>
                          <% price_sum =  price_sum + cart_item.product.price * cart_item.quantity %>
                        </td>
                        <td class="p-button">
                        </td>
                    </tr>
                    <% end %>
                </thead>
            </table>

		 </div>
	<h3>送付する住所</h3>
</div>
	<div class="check-addres">
<!-- Addressモデルにデータがあるかどうかを確認しています ---->
<!-- データが入っていた場合はそのデータの中から最新の情報を引っ張ってきて表示されます -->
	<div class="user-address2">
		<% if @address == nil %>
				<div>
				郵便番号：<%= @user.postal_code %><br>
				住所：<%= @user.pref %><%= @user.city %><%= @user.address1 %><%= @user.address2 %><br>
				名前： <%= @user.first_name %> <%= @user.last_name %>
				</div>
		<% else %>
				
				<div>
				郵便番号：<%= @address.postal_code %><br>
				住所：<%= @address.pref %><%= @address.city %><%= @address.address1 %><%= @address.address2 %><br>
				名前： <%= @address.first_name %> <%= @address.last_name %>
				</div>
		<% end %>
	</div>
	</div>
	<div class="buttons-box">
		<%= form_for @order, url: create_order_path(@order), method: :post do |f| %>
		<div class="view-total-box">
			<p>お支払方法</p>
			<div class="select-payment">
				<%= f.select :payment, Order.payments.keys.to_a %>
			</div>
			<p class="total-money">合計 ¥：<%= price_sum %></p>
		</div>
			<div class="decision-button">
					<button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#sampleModal" type="button">注文を確定する</button>
					<!-- モーダル・ダイアログ -->
					<div class="modal fade" id="sampleModal" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
									<h4 class="modal-title" align="center">Caution!</h4>
								</div>
								<div class="modal-body">
									ご注文が確定されます。よろしいですか？
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">戻る</button>
									<%= f.submit "確定", class: "btn btn-danger" %>
								</div>
							</div>
						</div>
					</div>
			</div>
		<% end %>
	</div>
</section>