<title>購入確認画面</title>
<section class= "confirm-main-box">
	<div class="search-box">
		<div class ="container">
			<p class="col-lg-4"></p>
			<p class="col-lg-4 search-form"><input class="form-control" type="search" name="search-form" placeholder="検索"></p>
			<p class="col-lg-4"></p>
		</div>
	</div>
		<h2>ご注文内容の確認</h2>
	<div class="orders-box">
		<% @cart_items.each do |cartitem| %>
			<div class="jacket-image"><%= cartitem.product.image %></div>
			<div class="product-info">
				<p class="p-info"><%= cartitem.product.album_title %><br><%= cartitem.product.artist %><br><%= cartitem.product.label %></p>
				<p class="p-price"><%= cartitem.product.price %></p>
				<p class="p-qty"><%= cartitem.quantity %></p>
			</div>
		<% end %>
		 </div>
	<h3>送付する住所</h3>
</div>
	<div class="check-addres">
<!-- Addressモデルにデータがあるかどうかを確認しています -->
<!-- データが入っていた場合はそのデータの中から最新の情報を引っ張ってきて表示されます -->
	<div class="user-address2">
		<% if @address != nil %>
				<div>
				郵便番号：<%= @address.postal_code %><br>
				住所：<%= @address.prefecture %><%= @address.city %><%= @address.address1 %><%= @address.address2 %><br>
				名前： <%= @address.first_name %> <%= @address.last_name %>
				</div>
		<% else @address == nil %>
				<div>
				郵便番号：<%= @user.postal_code %><br>
				住所：<%= @user.prefecture %><%= @user.city %><%= @user.address1 %><%= @user.address2 %><br>
				名前： <%= @user.first_name %> <%= @user.last_name %>
				</div>
		<% end %>
	</div>
	</div>
	<div class="buttons-box">
		<%= form_for @order, url: orders_create_path, method: :post do |f| %>
		<div class="view-total-box">
			<p>お支払方法</p>
			<div class="select-payment">
				<%= f.select :payment, [["選択してください",""], ["クレジット","0"], ["代引き","1"], ["コンビニ・ATM払い","2"]] %>
			</div>
			<p class="total-money">合計¥ @order.total</p>
		</div>
			<div class="decision-button">
					<button class="btn btn-danger btn-lg" data-toggle="modal" data-target="#sampleModal" type="button">注文を確定する</button>
					<!-- モーダル・ダイアログ -->
					<div class="modal fade" id="sampleModal" tabindex="-1">
						<div class="modal-dialog">
							<div class="modal-content">
								<div class="modal-header">
									<button type="button" class="close" data-dismiss="modal"><span>×</span></button>
									<h4 class="modal-title">Caution!</h4>
								</div>
								<div class="modal-body">
									ご注文が確定されるとキャンセルできません！
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-default" data-dismiss="modal">戻る</button>
									<%= link_to orders_show_path do %>
									<button type="submit" class="btn btn-primary">ボタン</button>
								</div>
							</div>
						</div>
					</div>
				<% end %>
			</div>
		<% end %>
	</div>
</section>