<section class="main-box">
<div class="search-box">
	<div class ="container">
		<p class="col-lg-4"></p>
		<p class="col-lg-4 search-form"><input class="form-control" type="search" name="search-form" placeholder="検索"></p>
		<p class="col-lg-4"></p>
	</div>
</div>
<div class="contents-box">
	<p class="page-title">送付先住所を選択してください</p>
	<div class="send-user-address">
		<span>登録済みの住所に送る</span>
		<%= link_to orders_confirm_path do %>
			<button type="button" class="button-style" >この住所に送る</button>
		<% end %>
			<p class="user-address">
				<%= @user.postal_code %><br>
				<%= @user.prefecture %><%= @user.city %><%= @user.address1 %><br>
				<%= @user.address2 %>
			</p>
	</div>
	<p class="page-title">送り先住所を変更する</p>
	<div class="change-send-address">
		<span>送り先住所を変更する</span>
		<%= form_for (@address), url: orders_create_address_path, method: :post do |f| %>

		<%= f.submit "この住所に送る", class: "btn btn-default" %>

				<!-- <button type="submit" class="button-style" >この住所に送る</button> -->
			<form class="form-horizontal">
					<label class="control-label">郵便番号</label>
        	<p class=""><%= f.text_field :postal_code, :class => "form-control", :placeholder => "郵便番号" %></p>
				<label class="control-label"></label>
			    <label class="control-label">住所</label>
			    <p class=""><%= f.text_field :city, :class => "form-control", :placeholder => "市区町村" %></p>
			  <label class="control-label"></label>
			    <p class=""><%= f.text_field :address1, :class => "form-control", :placeholder => "番地" %></p>
			  <label class="control-label"></label>
			    <p><%= f.text_field :address2, :class => "form-control", :placeholder => "アパート／マンション名" %></p>
			  <label class="control-label">お名前</label>
			    <p class=""><%= f.text_field :first_name ,:class => "form-control", :placeholder => "姓" %></p>
			    <p class=""><%= f.text_field :last_name, :class => "form-control", :placeholder => "名" %></p>
	    </form>
	   <% end %>
		</div>

</div>

</section>