<head>
		<title>カート内商品一覧</title>
</head>
<!-- headerの部分テンプレート -->
<%= render 'layouts/user_header'  %>
<section>
		<!-- 検索フォーム -->
	<%= render 'products/list', q: @q, q2: @q2 %>
			<% if @trigger_numb == 1 %>
			<div class="user-inverse">
				<div class = "blank-box">
					<div style="padding-top:10px;">
						<font size="8">Blank!</font>
					</div>
					<div class="cart-blank">
						<%= image_tag('blank_cart.png', size: "350x250") %>
					</div>
				</div>
			</div>
			<% else @trigger_numb == 2 %>
				<div class="main-box user-inverse">
					<div class="cart-item-box">
						<table class="cartlist">
							<thead>
								<% price_sum = 0 %>
							<!-- ここからeach do -->
								<% @cart_items.each do |cart_item| %>
								<tr>
									<td class="p-img">
										<%= link_to product_path(cart_item.product) do %>
											<%= attachment_image_tag cart_item.product, :image, :fill, 250, 250, fallback: 'icon-mypage.png', :size => "250x250", class: "p-img" %>
										<% end %>
									</td>
									<td class="p-info">
										<%= link_to product_path(cart_item.product) do %>
											<div>
												<p><%= cart_item.product.album_title %></p>
											</div>
											<div>
												<p><%= cart_item.product.artist %></p>
											</div>
										<% end %>
									</td>
									<td class="p-price"><p>¥ <%= cart_item.product.price %> </p></td>
									<td class="p-qty">
										<%= form_for cart_item, url: cart_cart_items_path(cart_item), method: :patch  do |f| %>
										<div align="center" style="margin-top:20px; background-color:rgba(200, 200, 200, 0.3); border-radius:15px; padding:10px;">
											<% if cart_item.product.stock > 0 %>
												<%= f.number_field :quantity, default: cart_item.quantity, min: 1, max: cart_item.product.stock, class: "form-control", style: "border-radius:30px;" %>
												<%= f.submit "更新", class: "btn btn-default btn-xs", style:"margin-top:10px;" %>
											<% else %>
												<p class="alert-zero">在庫なし</p>
											<% end %>
										</div>
										<% end %>
									</td>
									<td class="p-subtotal">
										<p>¥ <%= cart_item.product.price * cart_item.quantity %></p>
										<% price_sum =  price_sum + cart_item.product.price * cart_item.quantity %>
									</td>
										<td class="p-button">
										<%= link_to cart_cart_item_path(@cart, cart_item), method: :delete, data:{confirm: "カートから商品を削除します。よろしいですか？"} do %>
											 <p><button class="btn btn-danger btn-xs">削除</button></p>
										<% end %>
									</td>
								</tr>
								<% end %>
								<!-- ここまでeach do -->
							</thead>
						</table>
						<div class="row cash-button">
								<div class="col-lg-4"></div>
								<div class="col-lg-3" align="right">
								<font size="6">合計¥ <%= price_sum %></font>
								</div>
								<%= link_to new_order_path do%>
									<button style="border-radius:30px; margin-right:5px;" class="col-lg-2 btn btn-info btn-ms">購入手続き（送付先選択へ）</button>
								<% end %>
								<%= link_to cart_path(@cart), method: :delete, data:{ confirm: "カート内の商品を全て削除します。よろしいですか？"} do %>
									<button style="border-radius:30px;" class="col-lg-2 btn btn-default btn-ms">カートを空にする</button>
								<% end %>
								<p class="col-lg-1"></p>
						</div>
					<% end %>
				</div>
		</div>
</section>