<div class="nested-fields well well-compact">
  <div class="form-group">
    <%= f.check_box :_destroy %><br>
    <%= f.label :disc_number %>
    <%= f.number_field :disc_number, min: 1 %>
    <%= link_to_remove_association "ディスクを削除", f %>
  </div>

  <div class="items">
    <%= f.fields_for :musics do |music| %>
      <%= render 'music_fields', f: music %>
    <% end %>
      <div class="links">
        <%= link_to_add_association "曲を追加", f, :musics %>
      </div>
  </div>
</div>