<div class="nested-fields form-inline">
    <div class="form-group">
    	<%= f.check_box :_destroy %>※曲を削除する場合はチェックボックスにチェック<br/>
    	<%= link_to_remove_association "曲を削除", f %>
    	<%= f.number_field :track_number, placeholder:"曲順", class: 'form-inline', :size => "10" %>
    	<%= f.text_field :name, placeholder:"曲名", class: 'form-inline', :size => "50" %>
    	<%= f.text_field :bpm, placeholder:"BPM", class: 'form-inline', :size => "15" %>
    	<%= f.text_field :duration, placeholder:"曲長", class: 'form-inline', :size => "15" %>
  	</div>
</div>