<%= render 'admins/users/header'  %>
<div class="main-box">
  <h4>商品一覧</h4>
  <%= button_to '新規追加', admins_new_product_path, class:"btn btn-default" %>
  <div class="container">
  	<div class="ad-pro-index-box">
      	<table class="table table-hover">
        		<thead>
          		<tr>
                <th><input type="checkbox"></th>
            		<th><%= sort_link(@q, :image, "画像") %></th>
            		<th><%= sort_link(@q, :album_title, "シングル/アルバム名") %></th>
            		<th><%= sort_link(@q, :artist, "アーティスト名") %></th>
            		<th><%= sort_link(@q, :price, "値段") %></th>
            		<th><%= sort_link(@q, :stock, "在庫数") %></th>
                <th></th>
            		<th><%= sort_link(@q, :favorite_count, "お気に入り数") %></th>
          		</tr>
        		</thead>

          <% if @q != nil %>

        		<tbody>
              <% @products.each_with_index do |product, i| %>
          		  <tr>
                  <td><%= i+1 %>.</td>
                  <td><%= attachment_image_tag product, :image, :fill, 50, 50, format: 'jpg' %></td>
             		 	<td><%= link_to product.album_title, admins_product_path(product.id) %></td>
              		<td><%= product.artist %></td>
              		<td><%= product.price %></td>
              		<td><%= product.stock %></td>
                  <td>
                    <% if product.stock <= 10 && product.stock >= 1 %>
                      <p class="alert-few" style="color: orange;">在庫が少なくなっています。<br>入荷しましょう。</p>
                      <% elsif product.stock === 0 %>
                      <p class="alert-zero" style="color: red;"><b>在庫がなくなりました。</b></p>
                    <% end %>
                  </td>
              		<td><%= product.favorite_count %></td>
          		  </tr>
              <% end %>
        		</tbody>

          <% else %>
            <p><%= @msg %></p>
          <% end %>

      	</table>
      	<%= paginate @products %>
    </div>
  </div>
</div>
