<%= render 'admins/users/header'  %>

  <div class="new-product">
  <h4>新規商品追加</h4>

    <div class="container">

    	<%= form_for(@product, url: admins_create_product_path) do |f| %>

        <div class="form-group">
              <%= f.label :artist, "アーティスト名：" %>
              <%= f.text_field :artist, :size => "50" %>
<!--モーダル呼び出しボタン-->
<!-- <div class="decision-button">
            <button class="btn btn-default" data-toggle="modal" data-target="#checkModal">チェック</button> -->
<!-- モーダル・ダイアログ-->
          <!--   <div class="modal fade" id="checkModal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-header">
                  <h4 class="modal-title" align="center">以下のアルバムは既に登録されています。</h4>
                </div>
                <div class="modal-body">
                  <%#= @product.album_title.each do |album| %>
                    <%#= album.album_title %>
                  <%# end %>
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
                <div class="modal-footer">
                </div>
              </div>
          </div> -->

          <div class="form-group">
              <%= f.label :album_title, "シングル/アルバム名：" %>
              <%= f.text_field :album_title, :size => "50" %>
          </div>

          <div class="form-group">
              <%= f.label :image_id, "ジャケット画像：" %>
              <%= f.attachment_field :image %>
          </div>

          <div class="form-group">
              <%= f.label :price, "値段：" %>
              <%= f.text_field :price, :size => "20" %>
          </div>

          <div class="form-group">
              <%= f.label :category_id, "カテゴリー：" %>
              <%= f.select(:category_id,[['Rock',1],
                                      ['Jpop',2],
                                      ['Hardrock/Metal',3],
                                      ['Pops',4],
                                      ['HipHop/R&B',5],
                                      ['Dance/Electronic',6],
                                      ['Jazz',7],
                                      ['World',8],
                                      ['Classical',9],
                                      ['Anime/Game/Soundtrack',10],
                                      ['Idol',11]]) %>
          </div>

          <div class="form-group">
              <%= f.label :label, "レーベル名：" %>
              <%= f.text_field :label, :size => "20" %>
          </div>

          <div class="form-group">
              <%= f.label :release_year, "リリース年：" %>
              <%= f.text_field :release_year, :size => "20" %>
          </div>

          <div class="form-group">
              <%= f.label :stock, "在庫数：" %>
              <%= f.text_field :stock, :size => "20" %>
          </div>

          <div class="discs">
            <%= f.fields_for :discs do |disc| %>
                <%= render 'disc_fields', f: disc %>
            <% end %>
            <div id="links">
                <%= link_to_add_association 'ディスクを追加', f, :discs %>
            </div>
            <%= f.submit %>
          </div>


      <% end %>

    </div>
  </div>
