<%= render 'admins/users/header'  %>

  <div class="new-product">
	<h1>新規商品追加</h1>
    <div class="container">
      <form class="form-horizontal">
        <%= form_for (@product) do |f| %>
          <div class="form-group">
              <%= f.label :artist, "アーティスト名：" %>
              <%= f.text_field :artist, :size => "50" %>
<!--モーダル呼び出しボタン-->
            <button class="btn btn-default" data-toggle="modal" data-target="#checkModal">チェック</button>
<!-- モーダル・ダイアログ-->
            <div class="modal fade" id="checkModal" tabindex="-1">
              <div class="modal-dialog">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal"><span>x</span></button>
                  <h4 class="modal-title">以下のアルバムは既に登録されています。</h4>
                </div>
                <div class="modal-body">本文</div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                </div>
              </div>
          </div>

          <div class="form-group">
              <%= f.label :album_title, "シングル/アルバム名：" %>
              <%= f.text_field :album_title, :size => "50" %>
          </div>

          <div class="form-group">
              <%= f.label :price, "値段：" %>
              <%= f.text_field :price, :size => "20" %>
          </div>

          <div class="form-group">
              <%= f.label :category, "カテゴリー：" %>
              <%= f.select(:category,[['Rock',1],['Jpop',2],['Hardrock/Metal',3],['Pops',4],['HipHop/R&B',5],['Dance/Electronic',6],['Jazz',7],['World',8],['Classical',9],['Anime/Game/Soundtrack',10],['Idol',11]]) %>
          </div>

          <div class="form-group">
              <%= f.label :label, "レーベル名：" %>
              <%= f.text_field :label, :size => "20" %>
          </div>

          <div class="form-group">
              <%= f.label :release_year, "リリース年：" %>
              <%= f.text_field :release_year, :size => "20" %>
          </div>

          <div class="form-group">
              <%= f.label :disc_number, "ディスクNo.：" %>
              <%= fields_for :disc do |disc| %>
                <%= disc.text_field :disc_number, placeholder:"ディスクNo.", :size => "20" %>
              <% end %>
          </div>

          <button type="button" class="btn bg-white mt10 miw100 add_btn" value="" name="">入力欄追加</button><br>
          <div class="parent">

            <div class="form-group">
              <%= f.label :musics, "曲情報" %><br />
              <%= fields_for :musics do |music| %>
                <div class="input-group col-sm-2 form-inline">
                  <%= music.text_field :track_number, placeholder:"曲順", class: 'form-control', :size => "20" %>
                </div>
                <div class="input-group col-sm-4 form-inline">
                  <%= music.text_field :track_name, placeholder:"曲名", class: 'form-control', :size => "50" %>
                </div>
                <div class="input-group col-sm-2 form-inline">
                  <%= music.text_field :bpm, placeholder:"BPM", class: 'form-control', :size => "20" %>
                </div>
                <div class="input-group col-sm-2 form-inline">
                  <%= music.text_field :duration, placeholder:"曲長", class: 'form-control', :size => "20" %>
                </div>

                <button type="button" class="btn trash_btn ml10" value="" name="">
                        削除
                      </button><br />
              <% end %>
            </div>

          </div>

          <div class="form-group">
              <%= f.label :stock, "在庫数：" %>
              <%= f.text_field :stock, :size => "20" %>
          </div>

          <div class="action">
            <div class="submit"><%= f.submit '登録', class:"btn btn-default ml10" %></div>
          </div>
        <% end %>
      </form>
    </div>
  </div>
