<header>
    <nav class="navbar navbar-inverse navbar-fixed-top headline">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
           BeatPlayのロゴ
          </a>
        </div>

        <div class="collapse navbar-collapse" id="navbarEexample8">
          <ul class="nav navbar-nav navbar-right">
            <li><%= link_to 'ダッシュボード', admins_top_path %></li>
            <li><%= link_to '商品一覧', admins_products_index_path %></li>
            <li><%= link_to '注文一覧', admins_orders_index_path %></li>
            <li><%= link_to 'ユーザー一覧', admins_users_index_path %></li>
            <li><%= link_to '問合せ一覧', admins_contacts_index_path %></li>
          </ul>
        </div>
      </div>
    </nav>
</header>

<body>
	<h1>新規商品追加</h1>
	<div class="new-product">
    <div class="container">
      <form class="form-horizontal">
        <div class="form-group">
        <%= form_for [:admins, @product] do |f| %>
          <div class="field">
            <div class="artist", class="col-sm-4">
              <%= f.text_field :artist, placeholder: "アーティスト名" %>
<!--モーダル呼び出しボタン-->
              <button type="button" class="btn btn-primary ml10" data-toggle="modal" data-target="#checkModal">
            チェック</button>
<!-- モーダル・ダイアログ-->
              <div class="modal fade" id="checkModal" tabindex="-1">
                <div class="modal-dialog">
                  <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span>x</span></button>
                    <h4 class="modal-title">以下のアルバムは既に登録されています。</h4>
                  </div>
                  <div class="modal-body">
                  本文
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">閉じる</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="field">
            <div class="album_title", class="col-sm-4">
            <%= f.text_field :album_title, placeholder:"シングル/アルバム名" %>
            </div>
          </div>

          <div class="field">
            <div class="price", class="col-sm-3">
            <%= f.text_field :price, placeholder:"値段" %>
            </div>
          </div>

          <div class="field">
            <div class="category", class="col-sm-3">
            <%= f.text_field :category_id, placeholder:"ジャンル" %>
            </div>
          </div>

          <div class="field">
            <div class="label1", class="col-sm-3">
            <%= f.text_field :label, placeholder:"レーベル名" %>
            </div>
          </div>

          <div class="field">
            <div class="release_year", class="col-sm-3">
            <%= f.text_field :release_year, placeholder:"リリース年" %>
            </div>
          </div>

          <div class="field">
            <div class="disc", class="col-sm-2">
            <%= f.fields_for :admins,@products do |disc_number| %>
              <%= disc_number.text_field :post, placeholder:"ディスクNo." %>
            <% end %>
            </div>
            <table class="table table-striped table-bordered table-hover">
              <tbody>
                <tr>
                 <th>曲順</th>
                 <th>曲名</th>
                 <th>BPM</th>
                 <th>曲長</th>
                </tr>
                  <button type="button" class="btn bg-white mt10 miw100 add_btn">入力欄追加</button>
                  <div class="parent">
                    <%= f.nested_fields_for :admins,@product  do |track_number|%>
                    <td><%= track_number.text_field :post, placeholder:"曲順" %><% end %></td>
                    <%= f.nested_fields_for :admins,@product  do |track_name|%>
                    <td><%= track_name.text_field :post, placeholder:"曲名" %><% end %></td>
                    <%= f.nested_fields_for :admins,@product  do |bpm|%>
                    <td><%= bpm.text_field :post, placeholder:"BPM" %><% end %></td>
                    <%= f.nested_fields_for :admins,@product  do |duration|%>
                    <td><%= duration.text_field :post, placeholder:"曲長" %><% end %></td>
                    <td><%= remove_nested_fields_link '削除', class: 'btn btn-danger', role: 'button' %><% end %></td>
                  </div>
              </tbody>
            </table>
            <%= f.add_nested_fields_link :disc_number,:track_number,:track_name,:bpm,:duration %>

          <div class="field">
            <div class="stock"><%= f.text_field :stock, placeholder:"在庫数" %></div>
          </div>

          <div class="action">
            <div class="submit"><%= f.submit '登録', class:"btn btn-primary col-xs-12" %></div>
          </div>
        </div>
      <% end %>
      </form>
    </div>
  </div>
</body>
