<div class="new-product">
  <h1>曲情報追加</h1>

    <div class="container">
      <form class="form-horizontal">

        <%= form_for(@product) do |f| %>

        <div class="form-group">
          <%= f.label :disc_number, "ディスクNo.：" %>
          <%= f.fields_for :disc do |disc| %>
                <%= disc.text_field :disc_number, placeholder:"ディスクNo.", :size => "20" %>
          <% end %>
        </div>

          <%= f.nested_fields_for :musics, wrapper_tag: :div do |music| %>

        <div class="form-group2">
              <%= music.text_field :track_number, placeholder:"曲順", class: 'form-inline', :size => "20" %>
              <%= music.text_field :track_name, placeholder:"曲名", class: 'form-inline', :size => "50" %>
              <%= music.text_field :bpm, placeholder:"BPM", class: 'form-inline', :size => "20" %>
              <%= music.text_field :duration, placeholder:"曲長", class: 'form-inline', :size => "20" %>
        </div>
        <div class="form-grou2">
              <%= music.text_field :track_number, placeholder:"曲順", class: 'form-inline', :size => "20" %>
              <%= music.text_field :track_name, placeholder:"曲名", class: 'form-inline', :size => "50" %>
              <%= music.text_field :bpm, placeholder:"BPM", class: 'form-inline', :size => "20" %>
              <%= music.text_field :duration, placeholder:"曲長", class: 'form-inline', :size => "20" %>
        </div>
        <div class="form-group2">
              <%= music.text_field :track_number, placeholder:"曲順", class: 'form-inline', :size => "20" %>
              <%= music.text_field :track_name, placeholder:"曲名", class: 'form-inline', :size => "50" %>
              <%= music.text_field :bpm, placeholder:"BPM", class: 'form-inline', :size => "20" %>
              <%= music.text_field :duration, placeholder:"曲長", class: 'form-inline', :size => "20" %>
        </div>
        <div class="form-group2">
              <%= music.text_field :track_number, placeholder:"曲順", class: 'form-inline', :size => "20" %>
              <%= music.text_field :track_name, placeholder:"曲名", class: 'form-inline', :size => "50" %>
              <%= music.text_field :bpm, placeholder:"BPM", class: 'form-inline', :size => "20" %>
              <%= music.text_field :duration, placeholder:"曲長", class: 'form-inline', :size => "20" %>
        </div>
        <div class="form-group2">
              <%= music.text_field :track_number, placeholder:"曲順", class: 'form-inline', :size => "20" %>
              <%= music.text_field :track_name, placeholder:"曲名", class: 'form-inline', :size => "50" %>
              <%= music.text_field :bpm, placeholder:"BPM", class: 'form-inline', :size => "20" %>
              <%= music.text_field :duration, placeholder:"曲長", class: 'form-inline', :size => "20" %>
        </div>
        <div class="form-group2">
              <%= music.text_field :track_number, placeholder:"曲順", class: 'form-inline', :size => "20" %>
              <%= music.text_field :track_name, placeholder:"曲名", class: 'form-inline', :size => "50" %>
              <%= music.text_field :bpm, placeholder:"BPM", class: 'form-inline', :size => "20" %>
              <%= music.text_field :duration, placeholder:"曲長", class: 'form-inline', :size => "20" %>
        </div>
        div class="form-group2">
              <%= music.text_field :track_number, placeholder:"曲順", class: 'form-inline', :size => "20" %>
              <%= music.text_field :track_name, placeholder:"曲名", class: 'form-inline', :size => "50" %>
              <%= music.text_field :bpm, placeholder:"BPM", class: 'form-inline', :size => "20" %>
              <%= music.text_field :duration, placeholder:"曲長", class: 'form-inline', :size => "20" %>
        </div>
        <div class="form-group2">
              <%= music.text_field :track_number, placeholder:"曲順", class: 'form-inline', :size => "20" %>
              <%= music.text_field :track_name, placeholder:"曲名", class: 'form-inline', :size => "50" %>
              <%= music.text_field :bpm, placeholder:"BPM", class: 'form-inline', :size => "20" %>
              <%= music.text_field :duration, placeholder:"曲長", class: 'form-inline', :size => "20" %>
        </div>
        <div class="form-group2">
              <%= music.text_field :track_number, placeholder:"曲順", class: 'form-inline', :size => "20" %>
              <%= music.text_field :track_name, placeholder:"曲名", class: 'form-inline', :size => "50" %>
              <%= music.text_field :bpm, placeholder:"BPM", class: 'form-inline', :size => "20" %>
              <%= music.text_field :duration, placeholder:"曲長", class: 'form-inline', :size => "20" %>
        </div>

        <div class="form-group2">
              <%= music.text_field :track_number, placeholder:"曲順", class: 'form-inline-cp', :size => "20" %>
              <%= music.text_field :track_name, placeholder:"曲名", class: 'form-inline-cp', :size => "50" %>
              <%= music.text_field :bpm, placeholder:"BPM", class: 'form-inline-cp', :size => "20" %>
              <%= music.text_field :duration, placeholder:"曲長", class: 'form-inline-cp', :size => "20" %>
              <%= music.remove_nested_fields_link 'Delete', class: 'btn btn-danger', role: 'button' %><br />
          <% end %>
        </div>

              <%= f.add_nested_fields_link @music, 'Add new', class: 'btn btn-primary', role: 'button' %>
          <% end %>

        <div class="action">
            <div class="submit"><%= music.submit '登録', class:"btn btn-default ml10" %></div>
        </div>
      </form>
    </div>
</div>


