<div class="main-visual">
	<!-- 検索ransack導入 -->
		<form class="top-search-form" action="/" name="search" method="get">
			<dl class="search">
			    <dt><input type="text" name="search" value="" placeholder="キーワードで検索。これだとダサい" /></dt>
			    <dd><button><span></span></button></dd>
			</dl>
	    </form>

	    <%= search_form_for q do |f| %>
		  <%= f.label :album_title_or_artist_or_discs_musics_name_cont_any, "検索"%>

		  <%= f.search_field :album_title_or_artist_or_discs_musics_name_cont_any %><br>

		  <%= f.label :discs_musics_bpm, "範囲指定" %>
		    <%= f.number_field :discs_musics_bpm_gteq_any, min: 10, max: 1000, step: 10 %>以上 ~
		    <%= f.number_field :discs_musics_bpm_lteq_any, min: 10, max: 1000, step: 10 %>以下
		  <%= f.submit "Search"%>

		<% end %>
	<!-- 検索フォーム -->
</div>