<div class="main-visual fade-in">
	<div style="padding:20px 20px 0px 0px;" align="right">
		    <font color="white">こんにちは。
		    	<% if user_signed_in? %>
			    	<%= link_to mypage_user_path(current_user) do %>
			    		<%= current_user.first_name %> <%= current_user.last_name %>
			    	<% end %>
			    <% else %>
			    	ゲスト
			    <% end %>
			    	さん
		    </font>
    </div>
	<!-- 検索ransack導入 -->
	<div class="percial-main-box">
		<div class="search-bar-border">
			<div class="search-bar">
			<%= search_form_for @q do |f| %>
				<%= f.search_field :album_title_or_artist_or_discs_musics_name_cont_any, class: "form-control", style: "background-color:transparent; border:none; color:white; font-size: 15px;" %>
			</div>
					<button class="start-search-button" type="submit"><font color= "white">Search</font></button>
		</div>
		<div class="bpm-box">
			<font color="white">bpmで検索</font>
			<div class="bpm-search-box">
				<div class="bpm-range-box">
					<div class="bpm-range">
						<%= f.number_field :discs_musics_bpm_gteq_any, min: 10, max: 1000, step: 10, style: "border: none; color:white;", class: "bpm-select-range" %>
					</div>
					<div>
						<font color="white">〜</font>
					</div>
					<div class="bpm-range">
			    	<%= f.number_field :discs_musics_bpm_lteq_any, min: 10, max: 1000, step: 10, style: "border:none; color:white;", class: "bpm-select-range"  %>
					</div>
				</div>
			  	<%= f.submit "Search", class: "start-search-button flex-end", style: "color:white;" %>
			</div>
		</div>
			<% end %>
		<!-- 検索フォーム -->
	</div>
</div>