	<div class="main-visual">
	<form class="top-search-form" action="/" name="search" method="get">
		<dl class="search">
		    <dt><input type="text" name="search" value="" placeholder="キーワードで検索。これだとダサい" /></dt>
		    <dd><button><span></span></button></dd>
		</dl>
	</form>
		<!-- 検索ransack導入 -->
		    <%= search_form_for @q do |f| %>
			  <%= f.label :album_title_or_artist_or_label_or_discs_musics_name_cont, "検索"%>
			  <%= f.search_field :album_title_or_artist_or_label_or_discs_musics_name_cont %>
			  <%= f.submit "Search"%>

			<% end %>
			<!--  -->
		<!-- 検索フォーム -->
	</div>
	<div class="main-box">
		<div class="sort-box">
			<p>ここに並び順変えるセレクターが入ります。上下左右中央揃え。</p>
		</div>
		<%= paginate @searchproducts %>
		<!-- 並び順 -->
		<div class= "products-box">


			<% if @q != nil %>

				<!-- each -->
				<% @searchproducts.each do |searchproduct| %>
				<div class="products">
					<%= link_to product_path(searchproduct) do %>
					<p class="products-img">img</p>
					<% end %>
					<p class="products-info">
						アルバム名：<%= searchproduct.album_title %><br>
						アーティスト名：<%= searchproduct.artist %><br>
						レーベル：<%= searchproduct.label %><br>
						ジャンル：<%= searchproduct.category.name %><br>
						リリース年：<%= searchproduct.release_year %><br>
						価格：<%= searchproduct.price %>
					</p>
				</div>
				<% end %>
				<!-- each end -->

			<% else %>
  				<p><%= @msg %></p>
			<% end %>

		</div>

		<%= paginate @searchproducts %>
	</div>


	<!-- 	ページング　　 -->
</main>
