<!-- headerの部分テンプレート -->
<%= render 'layouts/user_header'  %>
<!-- 検索フォーム -->
<%= render 'products/list', q: @q , q2: @q2 %>

<div class="main-box user-inverse">
	<div class="sort-box">
		      <div align="center" style="width:200px;border: solid 2px; border-radius:30px; padding:5px; margin-right:5px;" >
		      	<font color="white"><%= sort_link(@q, :album_title, "アルバム／タイトル順", class: "form-control")%></font>
		      </div>
		      <div align="center" style="width:200px;border: solid 2px; border-radius:30px; padding:5px;">
		      	<font color="white"><%= sort_link(@q, :artist, "アーティスト順", class: "form-control")%></font>
		      </div>
	</div>
	<%= paginate @searchproducts %>
	<!-- 並び順 -->
	<% if @searchproducts.any? %>
			<% if @searchproducts2.count != @productall.count %>
				<%= @searchproducts2.count %>件ヒットしました。
			<% end %>
	<div class= "products-box">

			<!-- each -->
			<% @searchproducts.each do |searchproduct| %>
			<div class="products">
				<%= link_to product_path(searchproduct) do %>
					<p class="products-img"><%= attachment_image_tag searchproduct, :image, :fill, 200, 200, fallback: 'icon-mypage.png', :size => "200x200" %></p>
				<% end %>
				<p class="products-info">
					<%= searchproduct.album_title %><br>
					<%= searchproduct.artist %><br>
					<%= searchproduct.label %><br>
					<%= searchproduct.category.name %><br>
					リリース年：<%= searchproduct.release_year %><br>
					価格：<%= searchproduct.price %>
					<% if searchproduct.stock > 0 && searchproduct.stock <= 10 %>
						<font color = "orange"><b><%= @alert_few %></b></font>
					<% elsif searchproduct.stock === 0 %>
						<font color ="red"><b><%= @alert_zero %></b></font>
					<% else %>
					<% end %>
				</p>
			</div>
			<% end %>
			<!-- each end -->

		<% else %>
				<p><%= @msg %></p>
		<% end %>

	</div>

	<%= paginate @searchproducts %>
</div>


 <!-- 	ページング　　 -->
</main>
