

<div class="box">

<%= @product.album_title %>

<%= @product.artist %>

<%= @product.label %>

<%= @product.category.name %>

<p>在庫数</p><%= @product.stock %><br>

<div>
<% if user_signed_in? %>
    <%= link_to "お気に入りに追加する", product_favorites_path(@product), method: :post, class: "btn-sm btn-danger" %>
<% end %>
</div>


<% @product.discs.each do |disc| %>
	<label>DISC</label>
	<%= disc.disc_number %><br>

	<% disc.musics.each_with_index do |music| %>
	<label>曲ID</label><%= music.id %>
	<label>曲名(track_number)</label><%= music.track_number %>
	<%= music.name %>
	<label>bpm</label>
	<%= music.bpm %><br>
	<% end %>

<% end %>

<% if user_signed_in? %>

	<%= form_for(@cartitem, url: add_cart_items_path(@product) ,method: :post) do |f| %>

	<div class="field row">
		<label> 数量</label>
		<%= f.number_field :quantity %>
	</div>


	<div class="action row">
	  	<%= f.submit 'カートに入れる', class: "btn btn-primary col-xs-3" %>
	</div>

	<% end %>

<% end %>

</div>











