
<%= @product.album_title %>

<%= @product.artist %>

<%= @product.label %>

<%= @product.category.name %>

<%= @product.stock %><br>



<% @product.discs.each do |disc| %>
	<label>DISC</label>
	<%= disc.disc_number %><br>

	<% disc.musics.each do |music| %>
	<label>曲名</label>
	<%= music.name %>
	<label>bpm</label>
	<%= music.bpm %><br>
	<% end %>

<% end %>

<%= form_for(@cartitem) do |cartitem| %>

    <div class="field row">
    	<label> 数量</label>
    	<%= f.number_field :quantity, class: "col-xs-12" %>
    </div>


    <div class="action row">
  	<%= f.submit 'カートに入れる', class: "btn btn-primary col-xs-12" %>
    </div>

<% end %>
