<%= render 'admins/users/header'  %>

<div class="container">
  <h1>注文一覧</h1>
  <div class="col-7">
    <table class="table">
      <thead>
        <tr>
            <th><input type="checkbox"></th>
            <th>オーダーNo.</th>
            <th>ステータス</th>
            <th>購入日</th>
            <th>ユーザー名</th>
            <th>合計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <th><input type="checkbox"></th>
            <% @orders.each do |order| %>
            <th><%= order.order_id %></th>
            <td><%= order.status %></td>
            <td><%= order.created_at %></td>
            <td><%= order.user_id.first_name %><%= order.user_id.last_name %></td>
            <td><%= order.total %></td>
            <% end %>
        </tr>
      </tbody>
    </table>
  </div>
</div>

