<%= render 'admins/users/header'  %>

<h1>注文一覧</h1>
<div class="container">
  <div class="col-7">
    <table class="table">
      <thead>
        <tr>
            <th></th>
            <th>注文No.</th>
            <th>ステータス</th>
            <th>購入日</th>
            <th>ユーザー名</th>
            <th>合計</th>
        </tr>
      </thead>
      <tbody>
        <tr>
            <% @orders.each do |order| %>
            <th><input type="checkbox"></th>
            <td><%= link_to order.id, admins_order_show_path(order.id) %></td>
            <td><button type="button" class="btn btn-default btn-sm"><%= order.status %></button></td>
            <td><%= order.created_at %></td>
            <td><%= link_to order.user.first_name + order.user.last_name, admins_user_path(order.user), method: :get %></td>
            <td><%= order.total %></td>
            <% end %>
        </tr>
      </tbody>
    </table>
    <%= paginate @orders %>
  </div>
</div>

