<%= render 'admins/users/header'  %>

<div class="ad-box">
	<div class ="ad-order-show-box">
		<div class="ad-order-show-inner">
			<div class="ad-order-status">
				<%= form_for @order, url: admins_order_update2_path(@order), method: :patch do |f| %>
					<%= f.select :status, Order.statuses.keys.to_a, {}, {class: "ad-form-select"} %>
					<%= f.submit "ステータス更新", style: "border-radius: 10px;", class: "btn btn-default" %>
				<% end %>
			</div>
			<div class= "ad-tbl-head">
				<div class="ad-tbl-title3">注文内容：<b>#<%= @order.id %>-<%= @order.created_at.strftime('%Y%m%d') %></b>
				</div>
			</div>
			<div class="ad-order-info">
				<table class="table table-striped table-hover">
					<thead>
						<tr>
							<th>商品</th>
							<th>価格</th>
							<th>購入数</th>
							<th>小計</th>
						</tr>
					</thead>
					<tbody>
						<% price_sum = 0 %>
						<% @order_items.each do |order_item| %>
							<tr>
								<td>
									<%= link_to admins_product_path(order_item.product_id) do %>
										<%= order_item.product.album_title %>
									<% end %>
								</td>
								<td><%= order_item.product.price %></td>
								<td><%= order_item.quantity %></td>
								<td><%= order_item.product.price * order_item.quantity %></td>
							</tr>
							<% price_sum =  price_sum + order_item.product.price * order_item.quantity %>
						<% end %>

					</tbody>
				</table>
			</div>
				<div class="ad-order-bottom-box">
					<div class="ad-shipping-address">
						<p style="font-size: 14px;">送付先</p>
						<% if @address != nil %>
							<label>郵便番号：</label><%= @address.postal_code %><br>
							<label>住所：</label><%= @address.pref %><%= @address.city %><%= @address.address1 %><%= @address.address2 %><br>
							<label>名前： </label><%= @address.first_name %> <%= @address.last_name %>
							</div>
						<% else @address == nil %>
							郵便番号：<%= @user.postal_code %><br>
							住所：<%= @user.pref %><%= @user.city %><%= @user.address1 %><%= @user.address2 %><br>
							名前： <%= @user.first_name %> <%= @user.last_name %>
						<% end %>
					</div>
					<div class="ad-shipping-total" align="right">
						<p class="ad-price-sum">
							合計：<b>¥ <%= price_sum %></b>
						</p>
					</div>
				</div>
			</div>
		</div>
		<div class="ad-order-user-info">
			<div class="ad-order-user-inner">
			<div class="ad-tbl-title4">購入者情報</div>
			<div class="">
				<label>ユーザー名：</label>
					<%= link_to admins_user_path(@order.user_id)  do %>
					<%= @order.user.first_name %><%= @order.user.last_name %><br>
					<% end %>
				<label>E-mail：</label>
					<%= @order.user.email %><br>
			</div>
		</div>
	</div>
</div>