<%= render 'admins/users/header'  %>
<div class="dashboard-sub">注文詳細</div>
<div class="user-infomation">
	#000000
</div>
<div class ="contact-main-box">
	<div class="contacts-contents">
		<div class="border-solid-1">
			<p class= "border-bottom"><span>注文内容</span><span>ステータス</span></p>
			<div class="order-infomation">
				<table class="table table-striped table-hover">
					<thead>
						<!-- データ引っ張ってこれたらth要素をsort_linkの記述に書き換えると早いかも -->
						<tr>
							<th>商品</th>
							<th>価格</th>
						</tr>
					</thead>
					<tbody>
						<!-- each start -->
						<% @order_items.each do |order_item| %>
							<tr>
								<td>
									<%= link_to admins_product_path(order_item.product) do %>
										<%= order_item.product.album_title %>
									<% end %>
								</td>
								<td><%= order_item.product.price %></td>
							</tr>
						<% end %>	
						<!-- each end -->
					</tbody>
				</table>
			</div>
			<p>送付先</p>
			<div class="admin-product-show-total">
				<div class="address-box">

				</div>
				<div class="total-box" align="right">
					合計¥ <%= @order.total %>
				</div>
			</div>
		</div>
	</div>
	<div class="order-show-user-box">
		<p>購入者情報</p>
		<div class="">
			<p><label>ユーザー名：</label><%= @order.user.first_name %><%= @order.user.last_name %></p>
			<p><label>E-mail：</label><%= @order.user.email %></p>
		</div>
	</div>
</div>