<!DOCTYPE html>
<html>
  <head>
    <title>Beatplay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top headline">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <%= link_to users_top_path do %>
            <span><%= image_tag('BeatPlay-logo.png', class: "logo") %></span>
           <% end %>
          </div>
        </div>

      <% if user_signed_in? %>
      <!-- ログインしているときは以下を表示 -->
        <div class="collapse navbar-collapse" id="navbarEexample8">
          <ul class="nav navbar-nav navbar-right">

            <li class="">
              <%= link_to products_path, class: "header-buttons" do%>
              Home
              <% end %>
            </li>
            <li class="">
              <%= link_to mypage_user_path(current_user), class: "header-buttons" do %>
              Mypage
              <% end %>
            </li>
            <li class="">
              <%= link_to carts_path, class: "header-buttons" do %>
              Cart
              <% end %>
            </li>
            <li>
              <%= link_to destroy_user_session_path, method: :delete, data:{ confirm:"ログアウトしてよろしいですか？", cancel:"Cancel", commit:"OK" }, class: "header-buttons" do %>SignOut<% end %>
            </li>
          </ul>
        </div>
      <!-- ログインしていないときは以下を表示 -->
      <% else %>
        <div class="collapse navbar-collapse" id="navbarEexample8">
          <ul class="nav navbar-nav navbar-right">

            <li class="header-buttons">
              <%= link_to users_top_path do %>
              Top
              <% end %>
            </li>
            <li class="header-buttons">
              <%= link_to new_user_registration_path do %>
              SignUp
              <% end %>
            </li>
            <li class="header-buttons">
              <%= link_to new_user_session_path do %>
              LogIn
              <% end %>
            </li>
          </ul>
        </div>
      <% end %>
      </div>
    </nav>
  </header>
  <body>
    <% flash.each do |key, value| %>
    <div class= "notice">
      <div class= "alert alert-<%= key %>">
        <%= value %>
      </div>
    </div>
    <% end %>
    <%= yield %>
  </body>
  <footer>
    <div class="sns-icons">
      <i class="fab fa-2x fa-facebook-square"></i>
      <i class="fab fa-2x fa-twitter-square"></i>
      <i class="fab fa-2x fa-line"></i>
      <i class="fab fa-2x fa-spotify"></i>
    </div>
  </footer>
</html>
