<!DOCTYPE html>
<html>
  <head>
    <title>Beatplay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  </head>
  <body>
    <%= yield %>
  </body>
  <footer>
    <div class= copyright>
      <p align="right" style="padding:30px 30px 0px 30px;"><font color="white">Copyright ©️Tokyo Rails g</font></p>
    </div>
    <div class="sns-icons">
      <i class="fab fa-2x fa-facebook-square"></i>
      <i class="fab fa-2x fa-twitter-square"></i>
      <i class="fab fa-2x fa-line"></i>
      <i class="fab fa-2x fa-spotify"></i>
    </div>
  </footer>
</html>
