<!DOCTYPE html>
<html>
  <head>
    <title>Beatplay</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>
  <header>
    <nav class="navbar navbar-inverse navbar-fixed-top headline">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed"data-toggle="collapse"data-target="#navbarEexample8">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
           BeatPlayのロゴ
          </a>
        </div>
        
        <div class="collapse navbar-collapse" id="navbarEexample8">
          <ul class="nav navbar-nav navbar-right">
            <li><a class="header-buttons" href="#">Home</a></li>
            <li><a class="header-buttons" href="#">Mypage</a></li>
            <li><a class="header-buttons" href="#">Cart</a></li>
            <li><a class="header-buttons" href="#">SignOut</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <body>
    <%= yield %>
  </body>
  <footer>
  </footer>
</html>
