
<section class="view-registration-box">

  <div class="mail-icon">
    <div class="">
      <i class="fa fa-sign-in"></i>
    </div>
    <p class="page-title">Beat Play へようこそ</p><br>
    <p class="page-title">Sign up</p>
  </div>

  <div class="main-box">
    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

        <div class="field">
          <%= f.text_field :first_name, autofocus: true, :placeholder => "姓" %>
          <%= f.text_field :last_name, :placeholder => "名" %>
        </div>

        <div class="field">
          <%= f.text_field :kana_first, :placeholder => "カナ" %>
          <%= f.text_field :kana_last, :placeholder => "カナ"  %>
        </div>

        <div class="field">
          <%= f.text_field :postal_code, :placeholder => "郵便番号" %>
        </div>

        <div class="field">
          <%= f.collection_select :pref, JpPrefecture::Prefecture.all, :name, :name %>
          <%= f.text_field :city, :placeholder => "市町村"  %>
        </div>

        <div class="field">
          <%= f.text_field :address1, :placeholder => "番地" %>
        </div>

        <div class="field">
          <%= f.text_field :address2, :placeholder => "建物名、部屋番号" %>
        </div>

        <div class="field">
          <%= f.telephone_field :phone_number, :placeholder => "電話番号" %>
        </div>

        <div class="field">
          <%= f.email_field :email, autocomplete: "email", :placeholder => "メールアドレス" %>
        </div>

        <div class="field">
          <%= f.password_field :password, autocomplete: "off", :placeholder => "パスワード(8~16文字)" %>
        </div>

        <div class="field">
          <%= f.password_field :password_confirmation, autocomplete: "off" , :placeholder => "パスワード確認" %>
        </div>

        <div class="actions">
          <%= f.submit "Sign up アカウントを作成する" %>
        </div>
    <% end %>

    <%= render "users/shared/links" %>
  </div>
</section>

